@media (max-width: 320px) {
  .sdonuts {
    display: none;
  }
  .sc1 h2 {
    font-size: 24px !important;
    font-weight: 600px !important;
  }
  .sc1 .sc1c {
    flex-direction: column !important;
  }
  .sc1 .sc1thing:first-child {
    height: 340px !important;
  }
  .sc1 .sc1thing:first-child .IHATEYOU {
    display: none;
  }
  .sc1 .sc1thing {
    width: 280px !important;
  }
  .sc1 .sc1thing h2 {
    font-size: 18px !important;
  }
  .sc1 .sc1thing .IHATEYOU {
    width: 200px;
    height: 145px;
  }
  .sc1 .sc1thing .sc1thingig {
    gap: 10px !important;
  }
  .sc1 .sc1thing .sc1thingig p {
    font-size: 18px !important;
    width: 219px !important;
  }
  .sc1 button {
    top: 70px !important;
    left: 65px !important;
  }
  .sc1 .s1cin {
    top: 40px !important;
    row-gap: 12px !important;
  }
  .sc1thing:nth-child(2) {
    height: 500px !important;
  }
  .sc1thing:last-child {
    height: 586px !important;
  }
  .sc2c {
    top: 40px !important;
  }
  .sc2c h2 {
    font-size: 24px !important;
    font-weight: 600px !important;
  }
  .sc2c .sc2people {
    gap: 0;
  }
  .sc2c .sc2people .middle img {
    width: 280px !important;
    height: 280px !important;
    left: 60px !important;
    position: relative;
  }
  .sc2c .sc2people .middle .sc2pstars {
    width: 102px !important;
    left: 70px !important;
  }
  .sc2c .sc2people .middle .sc2pstars img {
    height: 24px !important;
    width: 24px !important;
  }
  .sc2c .sc2people .middle .sc2text {
    width: 280px !important;
    top: 370px !important;
    left: 60px !important;
  }
  .sc2c .sc2people .middle p {
    left: 60px !important;
  }
  .sc2c .adaptivefirst,
  .sc2c .adaptivelast {
    display: none !important;
  }
  .sc2c .sc2button {
    top: 710px !important;
    left: 0 !important;
    transform: scale(1.25);
  }
  .sc3 {
    top: 800px !important;
  }
  .sc3c h2 {
    font-size: 24px !important;
  }
  .sc3c .sc3thing {
    width: 280px !important;
    background-repeat: no-repeat;
    height: 394px !important;
    z-index: 2 !important;
  }
  .sc3c .sc3thing img {
    display: none;
  }
  .sc3c .sc3fix {
    width: 280px !important;
    height: 394px !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .sc3c .sc3fix p,
  .sc3c .sc3fix h2 {
    color: white !important;
  }
  .sc3c .sc3fix p {
    top: 40px !important;
    left: 73px !important;
    text-align: center !important;
  }
  .sc3c .sc3fix hr {
    height: 1px !important;
    width: 264px !important;
    color: white !important;
    border: white 1px solid !important;
    left: 0px !important;
    top: 54px !important;
  }
  .sc3c .sc3fix input {
    width: 264px !important;
    border-bottom: white 1px solid !important;
  }
  .sc3c .sc3fix input::placeholder {
    color: white !important;
  }
  .sc3c .sc3fix .s3tform {
    width: 265px !important;
    top: 67px !important;
    left: 8px !important;
    row-gap: 20px !important;
  }
  .sc3c .sc3fix button {
    top: 322px !important;
    left: 67px !important;
  }
  .sc3c #sc3donuts {
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    left: -1px !important;
    width: 280px !important;
    height: 394px !important;
    z-index: 0 !important;
  }
  .sc3adaptiveihatethis {
    display: block !important;
    width: 280px !important;
    height: 394px !important;
    background-color: rgba(61, 44, 44, 0.3) !important;
    z-index: 1 !important;
    position: absolute;
    border-radius: 10px;
  }
  .sc4 {
    top: 850px !important;
  }
  .sc4 h2 {
    font-size: 24px !important;
  }
  .sc4 p {
    top: 27px !important;
    font-size: 16px !important;
  }
  .sc4 form {
    row-gap: 20px !important;
  }
  .sc4 form input {
    width: 280px !important;
    height: 22px !important;
  }
  .sc4 form button {
    left: 67px !important;
  }
  footer {
    top: 950px !important;
    height: 70px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .footerc {
    gap: 63px !important;
    top: -20px;
    position: relative;
  }
  footer .footeradaptive {
    display: block !important;
    position: absolute;
  }
  footer .footeradaptive img:first-child {
    position: absolute;
    top: -26px;
    left: -140px;
  }
  footer .footeradaptive a {
    position: absolute;
    left: -20px;
    top: -10px;
  }
  footer .footeradaptive a img {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
  }
  footer .footeradaptive #kys {
    position: absolute;
    top: -26px;
    left: 35px;
  }
  .sdonutsadaptive {
    display: block !important;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .sdonutsadaptive img {
    position: absolute;
  }
  .sdonutsadaptive img:nth-child(1) {
    top: 0;
    left: 250px;
    width: 50px;
    height: 50px;
  }
  .sdonutsadaptive img:nth-child(2) {
    top: 2300px;
    left: 240px;
  }
  .sdonutsadaptive img:nth-child(3) {
    top: 2970px;
    left: 240px;
  }
  .sdonutsadaptive img:nth-child(4) {
    top: 400px;
    left: 12px;
    width: 32px;
    height: 32px;
  }
  .sdonutsadaptive img:nth-child(5) {
    top: 1560px;
    left: 260px;
    width: 32px;
    height: 32px;
  }
  .sdonutsadaptive img:nth-child(6) {
    top: 930px;
    left: 275px;
    width: 40px;
    height: 40px;
  }
  .sdonutsadaptive img:nth-child(7) {
    top: 1910px;
    left: 260px;
    width: 40px;
    height: 40px;
  }
  .sdonutsadaptive img:nth-child(8) {
    top: 2770px;
    left: 44px;
    width: 40px;
    height: 40px;
  }
  .sdonutsadaptive img:nth-child(9) {
    top: 2850px;
    left: 241px;
    width: 30px;
    height: 30px;
  }
  .sdonutsadaptive img:nth-child(10) {
    top: 2120px;
    left: 41px;
    width: 60px;
    height: 60px;
  }
  .sdonutsadaptive img:nth-child(11) {
    top: 1600px;
    left: 15px;
    width: 50px;
    height: 50px;
  }
  .sdonutsadaptive img:nth-child(12) {
    top: 470px;
    left: 300px;
    width: 20px;
    height: 20px;
  }
}
.sc1 h2 {
  font-size: 32px;
  font-weight: 500;
  color: #2E2520;
  text-transform: none;
  text-align: center;
}
.sc1 .sc1c {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.sc1 .sc1c .sc1thing {
  position: relative;
  top: 27px;
  width: 395px;
  height: 610px;
  display: flex;
  flex-direction: column;
  background-color: #fafbfb;
  border-radius: 25px;
  transition: all 0.2s;
  border: transparent;
}
.sc1 .sc1c .sc1thing img {
  position: absolute;
  left: 48px;
  top: 297px;
}
.sc1 .sc1c .sc1thing h2 {
  position: relative;
  top: 28px;
  align-self: center;
  font-size: 20px;
  font-weight: 600;
}
.sc1 .sc1c .sc1thing button {
  width: 145px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #f3848c;
  border: none;
  border-radius: 25px;
  position: relative;
  left: 125px;
  text-transform: capitalize;
}
.sc1 .sc1c .sc1thing button:hover {
  background-color: white;
  color: #f3848c;
  border: 1px #f3848c solid;
}
.sc1 .sc1c .sc1thing:nth-child(1) button {
  top: 330px;
}
.sc1 .sc1c .sc1thing:nth-child(2) button {
  top: 230px;
}
.sc1 .sc1c .sc1thing:nth-child(3) button {
  top: 110px;
}
.sc1 .sc1c .sc1thing:hover {
  transform: translateY(-10px);
  border: #f3848c 1px solid;
}
.sc1 .sc1c .s1cin {
  position: relative;
  top: 60px;
  display: grid;
  row-gap: 16px;
}
.sc1 .sc1c .sc1thingig {
  display: flex;
  gap: 16px;
  position: relative;
  left: 8px;
}
.sc1 .sc1c .sc1thingig img {
  width: 24px;
  height: 24px;
  position: static;
}
.sc1 .sc1c .sc1thingig p {
  font-size: 18px;
  font-weight: 400;
  color: #2E2520;
  width: 339px;
  position: relative;
}

.sc2 .sc2c {
  position: relative;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc2 .sc2c h2 {
  font-size: 32px;
  font-weight: 500;
  color: #2E2520;
  text-transform: capitalize;
  text-align: center;
}
.sc2 .sc2people {
  display: flex;
  gap: 32px;
  position: relative;
  left: -200px;
  top: -80px;
}
.sc2 .sc2p {
  display: none;
}
.sc2 .sc2p img {
  width: 285px;
  height: 285px;
  border-radius: 6767px;
}
.sc2 .sc2p .sc2pstars {
  display: flex;
  gap: 4px;
  position: relative;
  left: 72.5px;
  top: 8px;
}
.sc2 .sc2p .sc2pstars img {
  width: 24px;
  height: 24px;
}
.sc2 .adaptivefirst, .sc2 .adaptivelast, .sc2 .middle {
  display: flex;
  position: absolute;
}
.sc2 .adaptivefirst {
  left: -340px;
}
.sc2 .adaptivelast {
  left: 460px;
}
.sc2 .middle {
  top: 100px;
  left: 0;
}
.sc2 .middle img {
  width: 394px;
  height: 394px;
}
.sc2 .middle .sc2text {
  display: flex;
  top: 500px;
  left: -425px;
  text-align: center;
}
.sc2 .middle p {
  top: 0;
  font-size: 18px;
}
.sc2 .middle .sc2pstars {
  left: 130px;
}
.sc2 .sc2pc {
  position: relative;
}
.sc2 .sc2pc p {
  text-align: center;
  position: relative;
  top: 24px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #2E2520;
}
.sc2 .sc2text {
  display: none;
  width: 1248px;
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #2E2520;
}
.sc2 .sc2button {
  position: relative;
  top: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sc2 .sc2button p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.sc2 .sc2button button {
  width: 35px;
  height: 2px;
  border-radius: 0;
  border: none;
  background-color: #f3848c;
  cursor: pointer;
}

.sc3 {
  position: relative;
  top: 800px;
}
.sc3 .sc3c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.sc3 .sc3c h2 {
  font-size: 32px;
  font-weight: 500;
  color: #2E2520;
  text-transform: capitalize;
  text-align: center;
}
.sc3 .sc3c .sc3thing {
  display: flex;
  position: relative;
  top: 28px;
  background-color: #f6f7f7;
  border-radius: 10px;
  width: 1034px;
  height: 246px;
  z-index: 0;
  box-shadow: 10px 15px 25px 0px rgba(210, 201, 201, 0.4509803922);
}
.sc3 .sc3c .sc3thing .sc3fix {
  z-index: 3;
  position: absolute;
  width: 1034px;
  height: 246px;
  display: flex;
}
.sc3 .sc3c .sc3thing .sc3fix p {
  width: 127px;
  height: 48px;
  position: relative;
  top: 99px;
  font-size: 20px;
  font-weight: 500;
  color: #2E2520;
}
.sc3 .sc3c .sc3thing .sc3fix hr {
  width: 1px;
  height: 166px;
  background-color: #2e2520;
  border: 1px solid #2e2520;
  align-self: center;
  position: relative;
  left: 28px;
}
.sc3 .sc3c .sc3thing .sc3fix .s3tform {
  display: grid;
  row-gap: 14px;
  position: relative;
  left: 67px;
  top: 40px;
}
.sc3 .sc3c .sc3thing .sc3fix .s3tform p {
  width: 267px;
  margin-bottom: 10px;
  position: static;
  font-size: 20px;
  font-weight: 500;
  color: #2E2520;
}
.sc3 .sc3c .sc3thing .sc3fix .s3tform input {
  border: none;
  width: 212px;
  height: 22px;
  background-color: transparent;
  color: #2E2520;
  font-size: 16px;
  font-weight: 400;
  border-bottom: #000 solid 2px;
}
.sc3 .sc3c .sc3thing .sc3fix .s3tform input::placeholder {
  color: #2E2520;
  font-size: 16px;
  font-weight: 400;
}
.sc3 .sc3c .sc3thing .sc3fix form button {
  width: 145px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #f3848c;
  border: none;
  border-radius: 25px;
  position: absolute;
  left: 657px;
  top: 103px;
  text-transform: capitalize;
}
.sc3 .sc3c .sc3thing .sc3fix form button:hover {
  background-color: white;
  color: #f3848c;
  border: 1px #f3848c solid;
}
.sc3 .sc3c .sc3thing img:first-child {
  width: 200px;
  height: 133px;
  position: relative;
  top: 97px;
  left: 15px;
}
.sc3 .sc3c .sc3thing #sc3donuts {
  position: absolute;
  left: 581px;
  height: 246px;
  top: 0px;
  z-index: 1;
}
.sc3 .sc3c .sc3thing #sc3bg {
  position: absolute;
  left: 23px;
  top: 0px;
  z-index: 2;
  height: 247px;
  width: 972px;
}

.sc4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 900px;
}
.sc4 h2 {
  font-size: 32px;
  font-weight: 500;
  color: #2E2520;
  text-transform: capitalize;
  text-align: center;
}
.sc4 p {
  font-size: 18px;
  font-weight: 400;
  color: #2E2520;
  margin-top: 27px;
}
.sc4 form {
  display: grid;
  row-gap: 16px;
  position: relative;
  top: 16px;
}
.sc4 form input {
  border: none;
  border-bottom: 1px solid #000;
  width: 394px;
  height: 22px;
  background-color: transparent;
}
.sc4 form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.sc4 form button {
  position: relative;
  left: 124px;
  top: 16px;
  width: 145px;
  height: 40px;
  border: none;
  border-radius: 25px;
  background-color: #f3848c;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}
.sc4 form button:hover {
  background-color: white;
  color: #f3848c;
  border: 1px #f3848c solid;
}
.sc4 .sc4img {
  position: relative;
  top: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.sc4 .sc4img img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.sdonuts {
  position: absolute;
  top: -200px;
  left: 0;
  z-index: -1;
}
.sdonuts img {
  position: absolute;
}
.sdonuts img:nth-child(1) {
  top: 1200px;
  left: 1060px;
}
.sdonuts img:nth-child(2) {
  top: 1435px;
  left: 250px;
}
.sdonuts img:nth-child(3) {
  top: 2370px;
  left: 400px;
}
.sdonuts img:nth-child(4) {
  top: 800px;
  left: 1400px;
}
.sdonuts img:nth-child(5) {
  top: 1800px;
  left: 1450px;
}
.sdonuts img:nth-child(6) {
  top: 620px;
  left: 630px;
}
.sdonuts img:nth-child(7) {
  top: 2000px;
  left: 700px;
}
.sdonuts img:nth-child(8) {
  top: 1500px;
  left: 1300px;
}
.sdonuts img:nth-child(9) {
  top: 2100px;
  left: 1200px;
}
.sdonuts img:nth-child(10) {
  top: 800px;
  left: 1000px;
}
.sdonuts img:nth-child(11) {
  top: 900px;
  left: 300px;
}
.sdonuts img:nth-child(12) {
  top: 1900px;
  left: 300px;
}
.sdonuts img:nth-child(13) {
  top: 1200px;
  left: 600px;
}
.sdonuts img:nth-child(14) {
  top: 1500px;
  left: 600px;
}
.sdonuts img:nth-child(15) {
  top: 2300px;
  left: 1400px;
}
.sdonuts img:nth-child(16) {
  top: 1300px;
  left: 1400px;
  width: 70px;
  height: 70px;
}

@media (max-width: 1280px) {
  .sdonuts {
    left: -300px !important;
  }
}
.sc3adaptiveihatethis {
  display: none;
}

.sdonutsadaptive {
  display: none;
}

#cmodalwrap {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
#cmodalwrap .cmodal {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cmodalwrap .cmodal h2 {
  color: white;
  text-transform: capitalize;
  font-size: 40px;
  z-index: 101;
}
#cmodalwrap .cmodal button {
  background-color: transparent;
  border: none;
  color: white;
  z-index: 101;
  font-size: 20px;
  position: relative;
  top: -100px;
  left: 80px;
}
#cmodalwrap .cmodal img {
  position: absolute;
}

footer {
  position: relative;
  top: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footerc {
  display: flex;
  gap: 1046px;
}
footer .footerc p {
  font-size: 16px;
  font-weight: 400;
  color: #2E2520;
  text-transform: capitalize;
}
footer .footeradaptive {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(180.11deg, #E5E2E3 10.73%, #FDFEFE 38.02%, #E5E2E3 71.11%, #FDFEFE 99.91%);
}

h2 {
  font-family: "montserrat alternates", sans-serif;
}

button {
  cursor: pointer;
}