@import './mixins';
@import './components/body';
@import './components/footer';

* {
    margin: 0;
    box-sizing: border-box; 
    font-family: 'montserrat', sans-serif;
}

body {
    background: linear-gradient(180.11deg, #E5E2E3 10.73%, #FDFEFE 38.02%, #E5E2E3 71.11%, #FDFEFE 99.91%);
}

h2 {
    font-family: 'montserrat alternates', sans-serif;
}