footer {
    position: relative;
    top: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footerc {
        display: flex;
        gap: 1046px;

        p {
            @include pthing($fs: 16px);
            text-transform: capitalize;
        }
    } 

    .footeradaptive {
        display: none;
    }
}